<form class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'NOTE_ID' | translate }}: {{ notesInfCtrl.note.id }} </h3>
    </div>

    <div class="modal-body">
        <h4>{{ notesInfCtrl.note.title }}</h4>
        <div class="form-group">
            <div class="col-md-8">
                <button id="ok-btn" name="ok-btn" ng-click='notesInfCtrl.close()' class="btn btn-primary">{{ 'OK' | translate }}</button>
            </div>
        </div>
    </div>

</form>

