<header class="header">
  <p class="header-title">
    {{ notesCtrl.header_tr }}
  </p>

  <div>
    <span class="language-name">{{ notesCtrl.language_tr }}:</span>
    <select class="language-selector" ng-options="language as language.name for language in notesCtrl.languages"
            ng-model="notesCtrl.selectedLanguage" ng-change="notesCtrl.changeLanguage()">
    </select>
  </div>
</header>

<div id="add-btn-wrapper">
  <button id='add-btn' class="btn btn-primary add-btn" ng-click="notesCtrl.addNote()">{{ notesCtrl.add_tr }}</button>
</div>

<div id="grid-wrapper">
  <div class="custom-grid gridStyle" ui-grid="notesCtrl.gridOptions" ng-style="{ 'height': notesCtrl.gridHeight }">
  </div>
</div>

